{% extends 'base_survey_template.html' %}
{% load hash i18n question_utils %}

{% block title %}
    {{ section_title }}
{% endblock %}

{% block progress %}
    <div class="survey-progress">{{ section_current }} / {{ section_total }}</div>
{% endblock %}

{% block content %}
    <div class='subheading'>
        {% if section_subheading %}
            {{ section_subheading | safe }}
        {% endif %}
    </div>
	<div class='questions'>
		<form method="post" id="section_question_form" {% if preview %}onsubmit="return false;"{% endif %}>
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
			{% for field in form.visible_fields %}
				{% if field|is_card_question %}
					<div class="question-card{% if field|question_type == 'rating' %} question-card--rating{% endif %}">
						{% if field.label %}<label for="{{ field.id_for_label }}">{{ field.label }}</label>{% endif %}
						{{ field.errors }}
						{{ field }}
					</div>
				{% else %}
					{{ field.errors }}
					{{ field }}
				{% endif %}
			{% endfor %}
        </form>
	</div>
{% endblock %}

{% block navig_buttons %}
    {% if not preview %}
    <div class="container navig_buttons">
        <div class="row">
            <div class="col align-self-start">
                {% if section.prev_section %}
                    <a class="btn btn-dark prev_button" style="width: 80%" href="../{{ section.prev_section }}" role="button">{% trans "Back" %}</a>
                {% endif %}
            </div>
            <div class="col align-self-end">
                {% if section.next_section %}
                    <input type="submit" class="btn btn-dark next_button" style="width: 80%" form="section_question_form" value="{% trans "Next" %}">
                {% else %}
                    <input type="submit" class="btn btn-dark next_button" style="width: 80%" form="section_question_form" value="{% trans "Finish" %}">
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block section_scripts %}

{% if PLAUSIBLE_SCRIPT_URL %}
<script>
{% if section_current == 1 %}
if (typeof plausible !== 'undefined') {
    plausible('survey_start', {props: {survey: '{{ survey.name|escapejs }}'}});
}
{% endif %}
document.getElementById('section_question_form').addEventListener('submit', function() {
    if (typeof plausible !== 'undefined') {
        plausible('survey_section_complete', {props: {survey: '{{ survey.name|escapejs }}', section: '{{ section.name|escapejs }}', section_number: {{ section_current }}}});
    }
});
</script>
{% endif %}

<script type="text/javascript">

    //var map = L.map('map', {zoomControl: false}).setView(["{{ section.start_map_postion.y }}".replace(",","."), "{{ section.start_map_postion.x }}".replace(",",".")], "{{ section.start_map_zoom }}");

    var section_response = {};

//   console.log("{{ subquestions_forms|safe}}")
    var subquestions_forms = JSON.parse(`{{ subquestions_forms|safe }}`.replace(new RegExp("\"", 'g'), "\\\"").replace(new RegExp("\'", "g"), "\"").replace(new RegExp("\n","g"), ""));

    //var subquestion_form_result = JSON.parse("{94: '<p><label for="id_95">Число:</label> <input type="number" name="95" id="id_95"></p>'}".replace(new RegExp("\"", 'g'), "\\\"").replace(new RegExp("\'", "g"), "\"").replace(new RegExp("\n","g"), ""));
//  var subquestions_forms = JSON.parse('{{ subquestions_forms|safe }}'.replace(new RegExp("\"", 'g'), "\\\"").replace(new RegExp("\'", "g"), "\"").replace(new RegExp("\n","g"), ""));
    
    map.on('draw:created', function(e) {

        // Disable the draw handler immediately (single-shot draw)
        if (currentDrawFeature) {
            currentDrawFeature.disable();
            currentDrawFeature = null;
        }

        var type = e.layerType,
        layer = e.layer,
            feature = layer.feature = layer.feature || {};

        feature.type = feature.type || "Feature"; // Intialize feature.type
        var props = feature.properties = feature.properties || {};
        props.question_id = currentQ;

        var formId = 'subquestion_form_' + L.Util.stamp(layer);
        layer._formId = formId;

        layer.bindPopup('<form action="" onsubmit="return false;" id="' + formId + '">' + subquestions_forms[currentQ]
            + '<div class="layer-controls">\
            <button type="button" class="btn btn-danger layer-delete"><i class="far fa-trash-alt"></i></button>\
            <button type="button" class="btn btn-primary layer-edit"><i class="far fa-edit"></i></button>\
            <button type="button" class="btn btn-success layer-apply"><i class="fas fa-check"></i></button>\
            </div>'
            + '</form>', {
                maxHeight: $(document).height()*0.8,
            });

        layer.on("popupopen", onPopupOpen);
        layer.on("popupclose", onPopupClose);

        editableLayers.addLayer(layer);

        if (subquestions_forms[currentQ]){
            layer.openPopup();

        }else{
            toggleInfo(true);
            currentQ = null;            
        }    
    });

    function onPopupOpen(){
        var tempLayer = this;
        var $popup = $(tempLayer.getPopup().getElement());
        var $form = $popup.find('form');

        //загрузить из properties данные подвопросов если они там есть
        var properties = tempLayer.feature.properties;

        for (var key in properties){
            if (key != 'question_id'){
                var element = $form.find('*[name=' + key +']');

                if (element.length>1) {
                    let type = element[0].type
                    if (type == 'checkbox' || type == 'radio'){
                        properties[key].forEach(function(val) {
                            $form.find('*[name=' + key + '][value='+ val +']').prop('checked', true);
                        });
                    }
                }
                else{
                    element.val(properties[key]);
                }
            }
        }

        tempLayer.editing.disable();

        $popup.find("button.layer-delete").click(function(){
            editableLayers.removeLayer(tempLayer);

            toggleInfo(true);
            currentQ = null;
        })

        $popup.find("button.layer-edit").click(function(){
            if (tempLayer instanceof L.Marker) {
                // Point marker: use crosshair repositioning
                var questionId = tempLayer.feature.properties.question_id;
                var btn = $('button.drawbutton[name="' + questionId + '"]');
                var color = btn.attr('data-color') || '#000000';
                var icon = btn.attr('data-icon') || 'fas fa-map-marker-alt';

                tempLayer.closePopup();
                tempLayer.setOpacity(0);
                toggleInfo(false);
                // Pan so the marker sits under the pin tip (32px below screen center)
                var markerPoint = map.latLngToContainerPoint(tempLayer.getLatLng());
                var targetCenter = map.containerPointToLatLng(
                    L.point(markerPoint.x, markerPoint.y - 32)
                );
                map.panTo(targetCenter);
                showCrosshair(color, icon, tempLayer);
            } else {
                // Line/polygon: use existing drag-handle edit mode
                startEditMode(tempLayer);
            }
        })

        $popup.find("button.layer-apply").click(function(){
            var subquestion_form_result = $('#' + tempLayer._formId).serializeArray();
            var grouped_by_name_result = subquestion_form_result.groupBy("name");
            for (var prop in grouped_by_name_result) {
                tempLayer.feature.properties[prop] = grouped_by_name_result[prop].map(function(arg) { return arg.value});
            }

            tempLayer.closePopup();

            toggleInfo(true);
            currentQ = null;

        })
    }

    function onPopupClose(){
        var tempLayer = this;

        var subquestion_form_result = $('#' + tempLayer._formId).serializeArray();
        var grouped_by_name_result = subquestion_form_result.groupBy("name");
        for (var prop in grouped_by_name_result) {
                tempLayer.feature.properties[prop] = grouped_by_name_result[prop].map(function(arg) { return arg.value});
        }

        toggleInfo(true);
    }

    // Restore existing geo answers from server
    var existingGeoAnswers = JSON.parse('{{ existing_geo_answers_json|escapejs }}');
    for (var questionCode in existingGeoAnswers) {
        var features = existingGeoAnswers[questionCode];
        for (var i = 0; i < features.length; i++) {
            var geoFeature = features[i];
            var geomType = geoFeature.geometry.type;
            var layer;

            if (geomType === 'Point') {
                var coords = geoFeature.geometry.coordinates;
                var btn = $('button.drawbutton[name="' + questionCode + '"]');
                var color = btn.attr('data-color') || '#000000';
                var icon = btn.attr('data-icon') || 'fas fa-map-marker-alt';
                layer = L.marker([coords[1], coords[0]], {
                    icon: L.icon.fontAwesome({
                        iconClasses: 'fa ' + icon,
                        markerColor: color,
                        iconColor: '#FFF',
                        iconXOffset: -2,
                    })
                });
            } else if (geomType === 'LineString') {
                var latlngs = geoFeature.geometry.coordinates.map(function(c) { return [c[1], c[0]]; });
                var btn = $('button.drawbutton[name="' + questionCode + '"]');
                var color = btn.attr('data-color') || '#000000';
                layer = L.polyline(latlngs, {color: color});
            } else if (geomType === 'Polygon') {
                var latlngs = geoFeature.geometry.coordinates[0].map(function(c) { return [c[1], c[0]]; });
                var btn = $('button.drawbutton[name="' + questionCode + '"]');
                var color = btn.attr('data-color') || '#000000';
                layer = L.polygon(latlngs, {color: color});
            }

            if (layer) {
                var feature = layer.feature = layer.feature || {};
                feature.type = "Feature";
                feature.properties = geoFeature.properties;

                var formId = 'subquestion_form_' + L.Util.stamp(layer);
                layer._formId = formId;

                layer.bindPopup('<form action="" onsubmit="return false;" id="' + formId + '">' + subquestions_forms[questionCode]
                    + '<div class="layer-controls">\
                    <button type="button" class="btn btn-danger layer-delete"><i class="far fa-trash-alt"></i></button>\
                    <button type="button" class="btn btn-primary layer-edit"><i class="far fa-edit"></i></button>\
                    <button type="button" class="btn btn-success layer-apply"><i class="fas fa-check"></i></button>\
                    </div>'
                    + '</form>', {
                        maxHeight: $(document).height()*0.8,
                    });

                layer.on("popupopen", onPopupOpen);
                layer.on("popupclose", onPopupClose);

                editableLayers.addLayer(layer);
            }
        }
    }

</script>

<!-- Event tracking beacons -->
<script>
(function() {
    var sessionId = {{ request.session.survey_session_id|default:"null" }};
    var sectionName = "{{ section.name|escapejs }}";
    var trackUrl = '/surveys/track/event/';
    if (!sessionId) return;

    function sendBeaconJson(payload) {
        var json = JSON.stringify(payload);
        if (navigator.sendBeacon) {
            navigator.sendBeacon(trackUrl, new Blob([json], {type: 'application/json'}));
        } else {
            fetch(trackUrl, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: json, keepalive: true
            }).catch(function() {});
        }
    }

    // Page load timing
    window.addEventListener('load', function() {
        sendBeaconJson({
            event_type: 'page_load',
            session_id: sessionId,
            load_ms: Math.round(performance.now()),
            section_name: sectionName
        });
    });

    // Page leave — fires when user navigates away or closes tab
    var _pageStart = Date.now();
    var _leaveSent = false;
    function sendLeave() {
        if (_leaveSent) return;
        _leaveSent = true;
        sendBeaconJson({
            event_type: 'page_leave',
            session_id: sessionId,
            time_on_page_ms: Date.now() - _pageStart,
            section_name: sectionName
        });
    }
    document.addEventListener('visibilitychange', function() {
        if (document.visibilityState === 'hidden') sendLeave();
    });
    window.addEventListener('pagehide', sendLeave);
})();
</script>

{% endblock %}
