{% extends 'base_survey_template.html' %}
{% load i18n %}

{% block content %}
	<div class="title">{{ section.title }}</div>
	<div class='questions'>
		{% csrf_token %}
        {{ form }}
	</div>
	<div class="container navig_button">
        <div class="row">
            <div class="col align-self-start">
                {% if section.prev_section %}
                    <a class="btn btn-primary" href="../{{ section.prev_section }}" role="button">{% trans "Back" %}</a>

                {% endif %}
            </div>
            <div class="col-2 align-self-end">
                {% if section.next_section %}
                    <input type="submit" class="btn btn-primary" form="section_question_form" value="{% trans "Next" %}">
                {% else %}
                    <a class="btn btn-primary" href="{{ survey.redirect_url }}" role="button">{% trans "Finish" %}</a>
                {% endif %}
                
            </div>
        </div>

    </div>
  
{% endblock %}