{% extends 'base_survey_template.html' %}
{% load i18n %}

{% block title %}
    {{ survey.title }}
{% end block %}

{% block content %}
	<div class='questions'>
		<form method="post" id="section_question_form">
			{% csrf_token %}
        	{{ form }}
        </form>
	</div>
	<div class="container navig_buttons">
        <div class="row">
            <div class="col align-self-start">
                {% if section.prev_section %}
                    <a class="btn btn-primary" href="../{{ section.prev_section }}" role="button">{% trans "Back" %}</a>

                {% endif %}
            </div>
            <div class="col-2 align-self-end">
                {% if section.next_section %}
                    <!-- <input type="submit" class="btn btn-primary" form="section_question_form" value="{% trans "Next" %}">  -->
                    <a class="btn btn-primary" href="../{{ section.next_section }}" role="button">{% trans "Next" %}</a>
                {% else %}
                    <input type="submit" class="btn btn-primary" form="section_question_form" value="{% trans "Finish" %}">
                    <!-- <a class="btn btn-primary endservey" href="{{ survey.redirect_url }}" role="button">{% trans "Finish" %}</a> -->
                {% endif %}
                
            </div>
        </div>

    </div>
  
{% endblock %}